<section class="statistics section section_elem">
    <div class="wrapper">
        <h2 class="title">
            <span class="title_orange">87%</span> способов борьбы с&nbsp;диабетом<br>
            не дают результата
        </h2>
        <div class="statistics__wrap">
            <div class="statistics__cont">
                <h3 class="statistics__title">
                    Препараты для <span class="statistics__title_color">повышения</span><br>
                    выработки инсулина
                </h3>
                <div class="statistics__item">
                    <div class="statistics__img">
                        <img src="img/Alex.png" alt="Alex">
                    </div>
                    <p class="statistics__name">
                        Александр, 45 лет
                    </p>
                    <p class="statistics__description">
                        “Пишут, что таким образом
                        инсулин будет вырабатываться
                        сам. Что ж, попробую”
                    </p>

                    <div class="statistics__line one"></div>

                    <div class="statistics__img statistics__img_before">
                        <img src="img/Alex_two.png" alt="Alex">
                    </div>
                    <p class="statistics__description statistics__description_width">
                        На какое-то время сахар снизился,
                        но <span class="statistics__description_weight">после прекращения приема
                            препаратов сахар снова поднялся.</span>
                        При повторе курса организм
                        уже выработал устойчивость
                        к препарату, и результат был
                        не таким заметным.
                    </p>
                </div>
            </div>

            <div class="statistics__cont">
                <h3 class="statistics__title">
                    Народные средства и диета<br>
                    для <span class="statistics__title_color">снижения</span> сахара
                </h3>
                <div class="statistics__item">
                    <div class="statistics__img">
                        <img src="img/Elena.png" alt="Elena">
                    </div>
                    <p class="statistics__name">
                        Елена Макарова, 54 года
                    </p>
                    <p class="statistics__description">
                        “Я не доверяю аптечным
                        препаратам - там сплошная химия,
                        поэтому буду снижать сахар
                        самостоятельно. Буду сидеть
                        на строгой диете и пить отвары”
                    </p>

                    <div class="statistics__line two"></div>

                    <div class="statistics__img statistics__img_before">
                        <img src="img/Elena_two.png" alt="Elena">
                    </div>
                    <p class="statistics__description statistics__description_width">
                        Но народные средства и диета
                        не дали результатов. Результат
                        проявлялся очень медленно,
                        и <span class="statistics__description_weight">сахар продолжил “скакать”,
                            стоило немного отклониться
                            от диеты.</span> Самочувствие
                        ухудшилось еще сильнее.
                    </p>
                </div>
            </div>

            <div class="statistics__cont">
                <h3 class="statistics__title">
                    Препараты для <span class="statistics__title_color">блокировки</span><br>
                    выработки глюкозы
                </h3>
                <div class="statistics__item three">
                    <div class="statistics__img">
                        <img src="img/Mariya.png" alt="Mariya">
                    </div>
                    <p class="statistics__name">
                        Мария, 35 лет
                    </p>
                    <p class="statistics__description">
                        “У меня нет времени сидеть
                        на диетах, лучше пропью что-то,
                        что заблокирует мне выработку
                        сахара”
                    </p>

                    <div class="statistics__line three"></div>

                    <div class="statistics__img statistics__img_before">
                        <img src="img/MAriya_two.png" alt="Mariya">
                    </div>
                    <p class="statistics__description statistics__description_width">
                        Мозг получил сигнал, что уровень 
                        сахара упал, и поджелудочная 
                        железа критически снизила
                        выработку инсулина.
                        Из-за этого <span class="statistics__description_weight">врач был вынужден 
                        прописать уколы инсулина.</span>
                    </p>
                </div>
            </div>
        </div>
        <h2 class="statistics__subtitle">
            Большинство препаратов только временно снижают сахар,<br>
            а затем проблема возвращается с новой силой
        </h2>
    </div>
</section>