<section class="information section section_bg">
    <div class="wrapper">
        <div class="information__ibsa">
            <img src="img/ibsa.png" alt="IBSA">
        </div>
        <p class="information__subtitle">
            Сенсация!<br>
            В апреле 2018 года эндокринологи Швейцарского института IBSA доказали:
        </p>
        <h2 class="title">
            Клетчатка — <span class="title_blue">единственное безопасное вещество</span>,<br>
            которое эффективно борется<br>
            с&nbsp;повышенным уровнем сахара
        </h2>
        <div class="information__cont">
            <div class="information__food">
                <p class="information__food-description">
                    Продукты, содержащие
                    клетчатку
                </p>
                <div class="information__food-img">
                    <img src="img/food.png" alt="food">
                </div>
            </div>
            <div class="information__description">
                <p class="information__description-par information__description-par_weight">
                    Клетчатка способна удерживать сахар
                    от&nbsp;его поступления в кровь из кишечника.
                </p>
                <p class="information__description-par">
                    Сахар похож по структуре на клетчатку, потому
                    он «прилипает» к ней и выводится с пищевыми
                    отходами.
                </p>
            </div>
        </div>

        <div class="information__line"></div>

        <div class="information__cont information__cont_column">
            <h3 class="information__cont-title">
                Сколько нужно клетчатки,<br>
                чтобы нормализовать сахар при диабете <span class="information__cont-title_color">2-го типа</span>?
            </h3>
            <div class="information__cont information__cont_width">
                <div class="information__food information__food_width">
                    <p class="information__food-description information__food-description_width">
                        4 кг
                    </p>
                    <div class="information__food-img">
                        <img src="img/food_two.png" alt="food">
                    </div>
                </div>
                <div class="information__description information__description_before">
                    <div class="information__description-line"></div>
                    <p class="information__description-par information__description-par_weight">
                        Для нормализации сахара
                    </p>
                    <p class="information__description-par">
                        Необходимо съедать от 4 кг продуктов,
                        содержащих клетчатку, каждый день
                        в течение месяца
                    </p>
                </div>
            </div>
            <h3 class="information__cont-subtitle">
                <span class="information__cont-subtitle_size">НО!</span><br>
                питаться клетчаткой в таких количествах сложно
            </h3>
        </div>
    </div>
</section>