<section class="normalization section section_bg">
    <div class="wrapper">
        <h2 class="title">
            Как <span class="title_blue">Diaprin</span> нормализует уровень сахара
        </h2>
        <div class="normalization__list">
            <div class="normalization__item">
                    <div class="normalization__number">1</div>
                <div class="normalization__img">
                    <img src="img/norm_one.png" alt="в организм попадает клетчатка">
                </div>
                <p class="normalization__title">
                    В организм попадает клетчатка,
                </p>
                <p class="normalization__description">
                    усиленная другими<br>
                    компонентами
                </p>
            </div>

            <div class="normalization__item">
                <div class="normalization__number">2</div>
                <div class="normalization__img">
                    <img src="img/norm_two.png" alt="клетчатка забирает лишний сахар">
                </div>
                <p class="normalization__title">
                    Клетчатка “забирает”<br>
                    лишний сахар,
                </p>
                <p class="normalization__description">
                    не давая ему впитаться в кровь
                </p>
            </div>

            <div class="normalization__item">
                    <div class="normalization__number">3</div>
                <div class="normalization__img">
                    <img src="img/norm_three.png" alt="Сахар выводится">
                </div>
                <p class="normalization__title">
                    Сахар выводится
                </p>
                <p class="normalization__description">
                    вместе с пищевыми отходами<br>
                    из организма
                </p>
            </div>
        </div>
        <div class="information__line"></div>
        <h2 class="normalization__subtitle">
            Уровень сахара нормализуется, организм укрепляется,<br>
            очищается от токсинов, вы чувствуете себя намного лучше<br>
            и живете полноценной жизнью, как до диабета
        </h2>
    </div>
</section>