<section class="effect section section_elem">
    <div class="wrapper">
        <h2 class="title">
            Эффективность натуральных компонентов <span class="title_blue">Diaprin</span><br>
            многократно подтверждена
        </h2>
        <h3 class="effect__subtitle">
            Экстракт микрокристаллической целлюлозы (клетчатки)
        </h3>
        <div class="effect__cont">
            <div class="effect__prod">
                <img src="img/effect_prod.png" alt="product">
                <div class="effect__prod-like one"></div>
                <div class="effect__prod-like two"></div>
                <div class="effect__prod-like three"></div>
            </div>
            <div class="effect__list">
                <div class="effect__item">
                    <h4 class="effect__item-title">
                        Выводит
                    </h4>
                    <p class="effect__item-desc">
                        лишний сахар из организма
                    </p>
                </div>

                <div class="effect__item">
                    <h4 class="effect__item-title">
                        Снижает
                    </h4>
                    <p class="effect__item-desc">
                        риск развития побочных заболеваний<br>
                        при диабете 2 типа
                    </p>
                </div>

                <div class="effect__item">
                    <h4 class="effect__item-title">
                        Нормализует
                    </h4>
                    <p class="effect__item-desc">
                        микрофлору кишечника
                    </p>
                </div>
            </div>

            <div class="effect__line"></div>

            <div class="effect__composition">
                <div class="effect__composition-item">
                    <div class="effect__composition-img">
                        <img src="img/composition_one.png" alt="Экстракт девясила">
                    </div>
                    <div class="effect__composition-line"></div>
                    <h2 class="effect__composition-title">
                        Экстракт девясила
                    </h2>
                    <p class="effect__composition-desc">
                        восстанавливает клетки<br>
                        поджелудочной железы,<br>
                        нормализует ее работу
                    </p>
                </div>

                <div class="effect__composition-item">
                    <div class="effect__composition-img">
                        <img src="img/composition_two.png" alt="Экстракт девясила">
                    </div>
                    <div class="effect__composition-line"></div>
                    <h2 class="effect__composition-title">
                        Экстракт цикория
                    </h2>
                    <p class="effect__composition-desc">
                        снижает гликемический индекс<br>
                        продуктов, уменьшает тягу<br>
                        к&nbsp;сладкому
                    </p>
                </div>

                <div class="effect__composition-item">
                    <div class="effect__composition-img">
                        <img src="img/composition_three.png" alt="Экстракт девясила">
                    </div>
                    <div class="effect__composition-line"></div>
                    <h2 class="effect__composition-title">
                        Экстракт омана
                    </h2>
                    <p class="effect__composition-desc">
                        нормализует давление и&nbsp;бодрое<br>
                        самочувствие
                    </p>
                </div>

                <div class="effect__composition-item">
                    <div class="effect__composition-img">
                        <img src="img/composition_four.png" alt="Экстракт девясила">
                    </div>
                    <div class="effect__composition-line"></div>
                    <h2 class="effect__composition-title">
                        Экстракт топинамбура
                    </h2>
                    <p class="effect__composition-desc">
                        снижает уровень сахара,<br>
                        адсорбируя пищевую глюкозу<br>
                        после еды
                    </p>
                </div>

                <div class="effect__composition-item">
                    <div class="effect__composition-img">
                        <img src="img/composition_fife.png" alt="Экстракт девясила">
                    </div>
                    <div class="effect__composition-line"></div>
                    <h2 class="effect__composition-title">
                        Экстракт курильского чая
                    </h2>
                    <p class="effect__composition-desc">
                        восстанавливает микрофлору<br>
                        в организме, нормальную работу<br>
                        почек, мочевого пузыря и печени
                    </p>
                </div>

                <div class="effect__composition-item">
                    <div class="effect__composition-img">
                        <img src="img/composition_six.png" alt="Экстракт девясила">
                    </div>
                    <div class="effect__composition-line"></div>
                    <h2 class="effect__composition-title">
                        Комплекс витаминов<br>
                        (А, В1, В6, В7, В12, С, Е, Н)
                    </h2>
                    <p class="effect__composition-desc">
                        нормализует давление
                        и&nbsp;бодрое самочувствие
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>