<section class="research section section_bg">
    <div class="wrapper">
        <h2 class="title">
            Исследование APDS 2018 года показало<br>
            высокую эффективность <span class="title_blue">Diaprin</span><br>
            для снижения уровня сахара
        </h2>
        <h3 class="research__subtitle">
            <span class="research__subtitle_weight">Процент пациентов,</span> которые почувствовали <span class="research__subtitle_weight">улучшение</span>
            в течение 30 дней исследования:
        </h3>
        <div class="research__list">
            <div class="research__item">
                <div class="research__item-img">
                    <img src="img/apple.png" alt="apple">
                </div>
                <p class="research__item-title">
                    Соблюдение диеты
                </p>
                <p class="research__item-procent">
                    21,2<span class="research__item-procent_size">%</span>
                </p>
            </div>

            <div class="research__item">
                <div class="research__item-img">
                    <img src="img/pack.png" alt="pack">
                </div>
                <p class="research__item-title">
                    Применение <span class="research__item-title_color">Diaprin</span>
                </p>
                <p class="research__item-procent two">
                    73<span class="research__item-procent_size">%</span>
                </p>
            </div>

            <div class="research__item">
                <div class="research__item-img">
                    <img src="img/pack.png" alt="pack">
                    <div class="research__item-after">
                        <img src="img/apple.png" alt="apple">
                    </div>
                </div>
                <p class="research__item-title">
                    Применение <span class="research__item-title_color">Diaprin</span>&nbsp;+&nbsp;диеты
                </p>
                <p class="research__item-procent three">
                    90,4<span class="research__item-procent_size">%</span>
                </p>
            </div>
        </div>
        <h2 class="research__title">
            <span class="research__title_color">Diaprin</span> получил сертификаты качества<br>
            международного образца
        </h2>
        <div class="research__sertificate">
            <div class="research__sertificate-item">
                <img src="img/sertificate_one.png" alt="sertificate_one">
            </div>

            <div class="research__sertificate-item">
                <img src="img/sertificate_two.png" alt="sertificate_two">
            </div>

            <div class="research__sertificate-item">
                <img src="img/sertificate_three.png" alt="sertificate_three">
            </div>
        </div>
        <button class="btn research__btn">
            <span class="btn__text-f">Заказать Diaprin</span>
            <span class="btn__text-s">со скидкой</span>
        </button>
    </div>
</section>