<section class="doctor section section_elem">
    <div class="wrapper">
        <h2 class="title">
            “Одного <span class="title_blue">Diaprina</span> достаточно для того,<br>
            чтобы сахар пришел в норму”
        </h2>
        <div class="doctor__cont">
            <div class="doctor__img">
                <img src="img/doctor.png" alt="doctor">
            </div>
            <div class="doctor__text">
                <p class="doctor__name">Маркус Шульц</p>
                <p class="doctor__post">врач-эндокринолог</p>
                <div class="doctor__line"></div>
                <p class="doctor__description">
                    До появления Диаприна я рекомендовал людям с диагнозом 
                    диабет 2-го типа соблюдать строгую диету супотреблением
                    в пищу большого количества продуктов с высоким содержанием 
                    клетчатки: отруби, лён, брокколи, брюссельская капуста… 
                    Клетчатка полезна тем, что она не позволяет сахару впитываться 
                    в кровь, забирает его на себя и выводит из организма вместе
                    с мочой.
                </p>
                <p class="doctor__description">
                    С появлением Диаприна всё стало намного легче.
                    Одного этого средства достаточно, чтобы сахар пришел в норму. 
                    Этот препарат содержит просто бешеную концентрацию 
                    клетчатки, которая выводит весь лишний сахар. А экстракты 
                    топинамбура, курильского чая и других растительных компонентов 
                    восстанавливают состояние организма, улучшают самочувствие 
                    и&nbsp;не&nbsp;допускают проявления побочных заболеваний при диабете
                </p>
            </div>
        </div>
    </div>
</section>