<section class="reviews section section_bg" id="reviews">
    <div class="wrapper">
        <h2 class="title">
            Отзывы
        </h2>
        <div class="reviews__slide">
            <div class="reviews__item">
                <div class="reviews__item-img">
                    <img src="img/slide_one.png" alt="slide one">
                </div>
                <p class="reviews__item-name">
                    Ирина
                </p>
                <p class="reviews__item-stat">28 лет, Уфа</p>
                <div class="reviews__item-line"></div>
                <div class="reviews__item-active">
                    <h3 class="reviews__item-title">
                        У мамы теперь как будто<br>
                        больше нет диабета
                    </h3>
                    <p class="reviews__item-description">
                        Помню свою бабушку с сахарным диабетом, которая из-за этого
                        еле ходила и скончалась
                        от инсульта. И когда мне диабет диагностировали, я подумал,
                        что меня ждет то же самое, потому как у меня всю жизнь слабое сердце - а с диабетом
                        всё только усугубляется.
                        Самое сложное было придерживаться диеты с моим интенсивным ритмом жизни,
                        мне вообще сложно нормально
                    </p>
                </div>
                <div class="reviews__item-btn"></div>
            </div>

            <div class="reviews__item">
                <div class="reviews__item-img">
                    <img src="img/slide_two.png" alt="slide two">
                </div>
                <p class="reviews__item-name">
                    Катеринка
                </p>
                <p class="reviews__item-stat">48 лет, Москва</p>
                <div class="reviews__item-line"></div>
                <div class="reviews__item-active">
                    <h3 class="reviews__item-title">
                        Чувствую себя лучше
                    </h3>
                    <p class="reviews__item-description">
                        Вес у меня был большой, около
                        80-ти килограмм, отсюда и диабет
                        взялся. Диаприн мне посоветовал
                        знакомый врач, как хорошую
                        альтернативу дорогим аптечным
                        препаратам, который может
                        стабилизировать сахар. Я теперь
                        и про инсулин забыла, настолько
                        теперь всё в норме. И осложнений
                        могу не бояться, раньше много
                        нервничала из-за этого. Чувствую
                        себя лучше. Не нравится только,
                        что все равно после курса нужно
                        сидеть на диете.
                    </p>
                </div>
                <div class="reviews__item-btn"></div>
            </div>

            <div class="reviews__item">
                <div class="reviews__item-img">
                    <img src="img/slide_three.png" alt="slide three">
                </div>
                <p class="reviews__item-name">
                    Max
                </p>
                <p class="reviews__item-stat">38 лет, Сургут</p>
                <div class="reviews__item-line"></div>
                <div class="reviews__item-active">
                    <h3 class="reviews__item-title">
                        Чувствую себя вполне<br>
                        здоровым
                    </h3>
                    <p class="reviews__item-description">
                        Помню свою бабушку с сахарным диабетом, которая из-за этого еле ходила и скончалась от
                        инсульта. И
                        когда мне диабет диагностировали, я подумал, что меня ждет то же самое, потому как у меня всю
                        жизнь
                        слабое сердце - а с диабетом всё только усугубляется.
                        Самое сложное было придерживаться диеты с моим интенсивным ритмом жизни, мне вообще сложно
                        нормально питаться а тут ещё и столько всего пришлось исключить. но врач сказал что это не
                        шутки. и
                        если я буду срываться с диеты и не принимать препараты, то слягу. Хорошо, что нашел Диаприн.
                        про
                        пользу клетчатки слышал, сидел на специальной диете даже, ел сплошную капусту с брокколи, но
                        это
                        было жёстко.
                        И так, с диаприном я пришел в норму. Метаболизм выровнялся, вес пришел в норму, и с сердцем всё
                        хорошо. Сейчас я чувствую себя вполне здоровым но Диаприн до сих продолжаю принимать.
                    </p>
                </div>
                <div class="reviews__item-btn"></div>
            </div>

            <div class="reviews__item">
                <div class="reviews__item-img">
                    <img src="img/slide_four.png" alt="slide four">
                </div>
                <p class="reviews__item-name">
                    Marinka
                </p>
                <p class="reviews__item-stat">42 года, Войвож</p>
                <div class="reviews__item-line"></div>
                <div class="reviews__item-active">
                    <h3 class="reviews__item-title">
                        Клетчатка таки работает
                    </h3>
                    <p class="reviews__item-description">
                        О том, что у меня диабет, я узнала самым удивительным образом - просто прошла тестик в
                        интернете. Я сначала не поверила, но кровь на сахар сдала. И диагноз подтвердился! Переживала,
                        страх. Он же фактически не лечится. Но моя подруга фармацевт посоветовала мне попробовать
                        препарат Диаприн, чтобы лишний сахар не впитывался в кровь и выходил из организма. И помогло, я
                        могу больше не нервничать, слава тебе господи. Клетчатка таки работает! И у меня даже вес
                        снизился!
                    </p>
                </div>
                <div class="reviews__item-btn"></div>
            </div>

            <div class="reviews__item">
                <div class="reviews__item-img">
                    <img src="img/slide_fife.png" alt="slide fife">
                </div>
                <p class="reviews__item-name">
                    Александр
                </p>
                <p class="reviews__item-stat">54 года, Воронеж</p>
                <div class="reviews__item-line"></div>
                <div class="reviews__item-active">
                    <h3 class="reviews__item-title">
                        Чувствую себя, как до диабета
                    </h3>
                    <p class="reviews__item-description">
                        Попал в больницу с улицы — оказалось, диабетическая кома, сахар был 19. Кололи инсулином, потом
                        жена забрала из больницы. Врачи пугали: у вас пять смертельных диагнозов. Полгода сам занимался
                        йогой, но без особого успеха. Уже потом мне объяснили, что питание по йоге при диабете
                        противопоказано… По сути спас меня Диаприн. Когда начал принимать сахар стабилизировался и
                        начал себя чувствовать, как до диабета. В туалет перестал бегать так часто - а это говорит о
                        том, что внутренние системы приходят в себя. Но хоть и теперь все нормально, все равно
                        продолжаю принимать средство это курсами.
                    </p>
                </div>
                <div class="reviews__item-btn"></div>
            </div>

            <div class="reviews__item">
                <div class="reviews__item-img">
                    <img src="img/slide_six.png" alt="slide six">
                </div>
                <p class="reviews__item-name">
                    Радион
                </p>
                <p class="reviews__item-stat">49 лет, Череповец</p>
                <div class="reviews__item-line"></div>
                <div class="reviews__item-active">
                    <h3 class="reviews__item-title">
                        Не нравится, что нельзя купить в аптеке
                    </h3>
                    <p class="reviews__item-description">
                        Прохожу переодически курсами, класный препарат. Правда не нравиться то, что его нельзя купить в
                        аптеке и нужно заказывать в интернете каждый раз. Ну хоть вкусный.
                    </p>
                </div>
                <div class="reviews__item-btn"></div>
            </div>

            <div class="reviews__item">
                <div class="reviews__item-img">
                    <img src="img/slide_seven.png" alt="slide seven">
                </div>
                <p class="reviews__item-name">
                    Мария Николаевна
                </p>
                <p class="reviews__item-stat">40 лет, Москва</p>
                <div class="reviews__item-line"></div>
                <div class="reviews__item-active">
                    <h3 class="reviews__item-title">
                        Состояние сына держится в норме
                    </h3>
                    <p class="reviews__item-description">
                        Когда у моего 15-летнего сына диагностировали диабет, я была просто в ужасе. И больше всего
                        поразило какое-то равнодушие врачей: ну, не помогает полтаблетки — пейте целую, потом две,
                        потом три — и ничего больше, какая-то обреченность… Только стращают осложнениями, но не дают
                        никакой надежды.
                        Спасибо интернету - там мы нашли Диаприн, и только он нам и помог. Разводим этот порошок в
                        стакане теплой воды через полчаса после обеда. Каждый раз внимательно контролирую, чтобы сын
                        выпил сразу же и не тянул. Состояние сына держится в норме, сахар тоже, и я уже почти не
                        беспокоюсь.
                    </p>
                </div>
                <div class="reviews__item-btn"></div>
            </div>

            <div class="reviews__item">
                <div class="reviews__item-img">
                    <img src="img/slide_eight.png" alt="slide eight">
                </div>
                <p class="reviews__item-name">
                    Kostya
                </p>
                <p class="reviews__item-stat">38 лет, Пушкино</p>
                <div class="reviews__item-line"></div>
                <div class="reviews__item-active">
                    <h3 class="reviews__item-title">
                        Больше незачем мерять сахар
                    </h3>
                    <p class="reviews__item-description">
                        У меня пересыхало в горле. По этому поводу я и пришел в поликлинику. Взяли кровь на сахар.
                        Результат был 12,5 и 12,7 при норме 4–5,5. Отправили в больницу на 21 день. Там мне кололи
                        инсулин, потом перевели на таблетки. После выписки жизнь меня ждала безрадостная. Постоянный
                        контроль питания, строгая диета. Не есть хлеб, картошку и многое другое. И постоянный прием
                        таблеток. Однако, благодаря Диаприну стало не то, что легче, я как будто вылечился от диабета.
                        Сахар уже почти не меряю, так как больше незачем.

                    </p>
                </div>
                <div class="reviews__item-btn"></div>
            </div>

            <div class="reviews__item">
                <div class="reviews__item-img">
                    <img src="img/slide_nine.png" alt="slide nine">
                </div>
                <p class="reviews__item-name">
                    Ольга
                </p>
                <p class="reviews__item-stat">60 лет, Иваново</p>
                <div class="reviews__item-line"></div>
                <div class="reviews__item-active">
                    <h3 class="reviews__item-title">
                        Сахар держится в норме
                    </h3>
                    <p class="reviews__item-description">
                        Хороший препарат! Когда у меня диагностировали диабет им и начала лечиться, и очень довольна,
                        состояние и самочувствие хорошее, сахар постоянно держится в норме. Заказываю на официальном
                        сайте, приходит без задержек.
                    </p>
                </div>
                <div class="reviews__item-btn"></div>
            </div>

            <div class="reviews__item">
                <div class="reviews__item-img">
                    <img src="img/slide_ten.png" alt="slide ten">
                </div>
                <p class="reviews__item-name">
                    Larisa
                </p>
                <p class="reviews__item-stat">57 лет, Кстово</p>
                <div class="reviews__item-line"></div>
                <div class="reviews__item-active">
                    <h3 class="reviews__item-title">
                        Средство подошло
                    </h3>
                    <p class="reviews__item-description">
                        Средство мне подошло, в отличии от всяких таблеток из аптеки помогли мне справиться с диабетом.
                        Но аллергия на цитрусовые у меня как была, так и осталась(
                    </p>
                </div>
                <div class="reviews__item-btn"></div>
            </div>
        </div>
    </div>
</section>