<section class="audio section section_elem">
    <div class="wrapper">
        <h2 class="title">
            Аудио- и видеоотзывы
        </h2>
        <div class="audio-reviews-items">
            <div class="audio-reviews-item audio-1">
                <audio preload="none">
                    <source src="audio/audio1.mp3" type="audio/mp3">
                </audio>
                <div class="audio-reviews-title">Игорь, 50 лет</div>
            </div>
            <div class="audio-reviews-item audio-2">
                <audio preload="none">
                    <source src="audio/audio2.mp3" type="audio/mp3">
                </audio>
                <div class="audio-reviews-title">Валентина, 45 лет</div>
            </div>
            <div class="audio-reviews-item audio-3">
                <audio preload="none">
                    <source src="audio/audio3.mp3" type="audio/mp3">
                </audio>
                <div class="audio-reviews-title">Дмитрий, 40 лет</div>
            </div>
        </div>
        <div class="audio__line"></div>
        <div class="video">
            <div class="video__cont">
                <div class="youtube video__item" id="1jjo4S7-zU8"></div>
                <p class="video__item-name">Мария, 45 лет</p>
            </div>
            <div class="video__cont">
                <div class="youtube video__item" id="1jjo4S7-zU8"></div>
                <p class="video__item-name">Александр, 48 лет</p>
            </div>
            <div class="video__cont">
                <div class="youtube video__item" id="1jjo4S7-zU8"></div>
                <p class="video__item-name">Александр, 48 лет</p>
            </div>
            
        </div>
    </div>
</section>