<section class="instruction section section_bg">
    <div class="wrapper">
        <h2 class="title">
            Как принимать <span class="title_blue">Diaprin</span>
        </h2>
        <div class="instruction__cont">
            <div class="instruction__item">
                <div class="instruction__item-number">1</div>
                <div class="instruction__item-img">
                    <img src="img/instruction_one.png" alt="instruction">
                </div>
                <div class="instruction__item-line"></div>
                <p class="instruction__item-desc">
                    Содержимое <span class="instruction__item-desc_color">одного пакета</span><br>
                    высыпьте в стакан
                </p>
            </div>
            <div class="instruction__item">
                <div class="instruction__item-number">2</div>
                <div class="instruction__item-img">
                    <img src="img/instruction_two.png" alt="instruction">
                </div>
                <div class="instruction__item-line"></div>
                <p class="instruction__item-desc">
                    Добавьте <span class="instruction__item-desc_color">100 мл</span><br>
                    теплой воды
                </p>
            </div>
            <div class="instruction__item">
                <div class="instruction__item-number">3</div>
                <div class="instruction__item-img">
                    <img src="img/instruction_three.png" alt="instruction">
                </div>
                <div class="instruction__item-line"></div>
                <p class="instruction__item-desc">
                    Выпейте через <span class="instruction__item-desc_color">30 минут</span><br>
                    после еды
                </p>
            </div>
        </div>
    </div>
</section>