<section class="order section section_elem">
    <div class="wrapper">
        <h2 class="title">
            Как заказать доставку <span class="title_blue">Diaprin</span>
        </h2>
        <div class="order__list">
            <div class="order__item">
                <div class="order__item-number">1</div>
                <div class="order__item-img">
                    <img src="img/order_one.png" alt="order one">
                </div>
                <h3 class="order__item-title">
                    Заполните<br>
                    форму
                </h3>
                <p class="order__item-desc">
                    Укажите свое имя и номер телефона
                </p>
            </div>

            <div class="order__item">
                <div class="order__item-number">2</div>
                <div class="order__item-img">
                    <img src="img/order_two.png" alt="order two">
                </div>
                <h3 class="order__item-title">
                    Ответьте<br>
                    на звонок оператора
                </h3>
                <p class="order__item-desc">
                    Он уточнит ваши адресные данные<br>
                    и ответит на все вопросы о Диаприне
                </p>
            </div>

            <div class="order__item">
                <div class="order__item-number">3</div>
                <div class="order__item-img">
                    <img src="img/pack.png" alt="order three">
                </div>
                <h3 class="order__item-title">
                    Оплатите<br>
                    после получения
                </h3>
                <p class="order__item-desc">
                    Никаких предоплат!
                </p>
            </div>
        </div>
        <div class="order__line"></div>
        <h3 class="order__subtitle">
            Укажите свое имя и номер телефона в форме для заявки.<br>
            Наш оператор Вам перезвонит в ближайшее время.
        </h3>
    </div>
</section>