<section class="footer section section_elem">
    <div class="wrapper">
        <div class="footer__left">
            <div class="footer__logo">
                <img src="img/everad.svg" alt="logo">
            </div>
            <div class="footer__left-text">
                <p class="footer__left-name">Diaprin</p>
                <p class="footer__left-year">Copyright <span class="date-0" data-format="main">2019</span></p>
            </div>
        </div>
        <div class="footer__center">
            <a href="/privacy.html" class="footer__center-link" target="_blank">Политика конфиденциальности</a>
            <p class="footer__center-desc">
                ООО "Восток" г. Москва,<br>
                Михайловский Верхн. 4-й проезд, д. 10, кор. 3
            </p>
        </div>
        <div class="footer__right">
            <p class="footer__right-number">ИНН 7707251637</p>
            <p class="footer__right-number">ОГРН 1157735921758</p>
        </div>
    </div>
</section>