.reviews{
    padding: 223px 0 242px;
    &__slide{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-top: 43px;
        & .slick-prev{
            left: -30px;
            top: 364px;
        }
        & .slick-next{
            right: -30px;
            top: 364px;
        }
        & .slick-dots li{
            width: 12px;
            height: 12px;
            background-color: #a8bdd2;
            border-radius: 50%;
        }
        & .slick-dots li.slick-active{
            border: 5px solid #fff;
            width: 22px;
            height: 22px;
            background-color: #3e599b;
        }
        & .slick-dots li button:before{
            content: none;
        }
        & .slick-dots{
            bottom: -55px;
        }
    }
    &__item{
        width: 370px !important;
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
        background-color: #fff;
        border-radius: 7px;
        padding: 0 30px 30px;
        text-align: center;
        margin-top: 31px;
        margin-bottom: 18px;
        margin-right: 15px;
        margin-left: 15px;
        position: relative;
        z-index: 1;
        &::before{
            content: '';
            width: 100%;
            height: 5px;
            background-color: #3e599b;
            border-top-left-radius: 7px;
            border-top-right-radius: 7px;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
        }
        &-img{
            width: 139px;
            height: 139px;
            box-sizing: border-box;
            border: 5px solid #e3e9f3;
            border-radius: 50%;
            margin-top: -30px;
            & img{
                width: 100%;
                display: block;
            }
        }
        &-name{
            font-size: 24px;
            color: #222222;
            font-weight: 500;
            margin-top: 10px;
        }
        &-stat{
            font-size: 18px;
            color: #444444;
            margin-top: 7px;
        }
        &-line{
            width: 100%;
            height: 1px;
            background-color: #bccde1;
            margin-top: 19px;
        }
        &-title{
            font-size: 20px;
            color: #222222;
            font-weight: 500;
            margin-top: 20px;
        }
        &-description{
            font-size: 18px;
            color: #444444;
            margin-top: 11px;
            line-height: 25px;
            width: 100%;
        }
        &-active{
            min-height: 405px;
            height: 405px;
            overflow: hidden;
            width: 100%;
            &.active{
                height: auto;
            }
        }
        &-btn{
            width: 36px;
            height: 36px;
            background-color: #fd7532;
            border-radius: 50%;
            position: absolute;
            bottom: -18px;
            left: 50%;
            transform: translate(-50%, 0);
            cursor: pointer;
            &::before{
                content: '+';
                color: #fff;
                font-size: 36px;
                font-weight: 300;
                position: absolute;
                left: 52%;
                top: 49%;
                transform: translate(-50%, -50%);
            }
            &.active::before{
                content: '-';
            }
        }
    }
}

@media screen and (max-width: 1199px){
    .reviews.section{
        padding: 200px 0;
    }
    .reviews .wrapper{
        padding: 0 50px;
    }
    .reviews__slide{
        margin-top: 10px;
    }
    .reviews__item{
        width: 295px !important;
        margin-left: 10px;
        margin-right: 10px;
    }
    .reviews__slide .slick-dots{
        bottom: -35px;
    }
}

@media screen and (max-width: 1023px){
    .reviews.section{
        padding: 40px 0;
    }
    .reviews__item{
        width: 320px !important;
        margin-left: 14px;
        margin-right: 14px;
    }
    .reviews__item-name{
        font-size: 20px;
    }
    .reviews__item-stat{
        font-size: 17px;
        margin-top: 2px;
    }
    .reviews__item-line{
        margin-top: 10px;
    }
    .reviews__item-title{
        font-size: 19px;
        margin-top: 10px;
    }
    .reviews__item-description{
        font-size: 16px;
        line-height: 22px; 
        margin-top: 5px;
    }
    .reviews__item-active{
        min-height: 350px;
        height: 350px;
    }
}
@media screen and (max-width: 767px){
    .reviews.section{
        padding: 30px 0;
    }
    .reviews__item{
        width: 540px !important;
        
    }
    .reviews__slide .slick-dots{
        display: none;
    }
}

@media screen and (max-width: 639px){
    .reviews.section{
        padding: 25px 0;
    }
    .reviews__item{
        width: 380px !important;
        margin-left: 25px;
        margin-right: 25px;
    }
    .reviews .wrapper{
        padding: 0 35px;
    }
}

@media screen and (max-width: 479px){
    .reviews__item{
        width:  250px !important;
        padding: 0 10px 30px;
    }
}